@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

h1,
p,
a {
  color: bisque;
}

body {
  text-align: center;
  background-color: rgb(14, 13, 13);
}

p {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: blue;
  font-size: 20px;
}

a:hover {
  color: blanchedalmond;
  text-decoration: underline;
}

.img-caption {
  font-size: 20px;
  color: white;
}
